
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 style="position: page;
        padding: 100px;
        text-align: center;
        background-color: transparent;
        font-size:100px;
        font-family:Verdana, Geneva, Tahoma, cursive;
        text-align:center;">Welcome Admin! </h1>
<h3 style="padding-left: 100px;">Good luck with your work!</h3>


<body style="        background-image: url(https://filmdaily.co/wp-content/uploads/2020/12/popcorn-time-lede.jpg);
        background-repeat: no-repeat;
        width: 500px;
        height: 500px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
">
</body>

