
@{
    ViewBag.Title = "Contact";
}

<h2 style=" position: center;
        padding-left: 100px;
        text-align: left;
        background-color: transparent;
        font-size:80px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-size-adjust: 400% auto;">Contact us  
</h2>

<body style="        background-image: url(https://filmdaily.co/wp-content/uploads/2020/12/popcorn-time-lede.jpg);
        background-repeat: no-repeat;
        width: 500px;
        height: 500px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
">


</body>

<p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-top:50px;padding-left: 100px;
font-size:30px;">Adress: G. Baritiu 18, Cluj-Napoca</p>
<p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-top:50px;padding-left: 100px;
font-size:30px;">Email: cinema@gmail.com</p>
<p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-top:50px;padding-left: 100px;
font-size:30px;">Phone number: 0757602801</p>